.loginForm {
    background-image: url("/src/loginbg.png");
    background-size: cover;
    text-align: center;
    padding: 10vh;
    
}
.main-div{
    display: flex;
    flex-direction: row;
    border: none;
    border-radius: 25px;
    box-shadow: 2px 2px 2px 2px #ffffff;
  	-webkit-box-shadow: 2px 2px 2px 2px #ffffff;
      background-color: crimson;
}
.shadow-inner{
    width: 50%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px ;
    background-color: white;
    padding: 20px;
}

#welcome-text {
    margin-top: 20px;
    color:crimson;
    font-family: "Bree-Serif";
    padding: 10px;
    text-align: center;
}

.form {
    background-color: white;
    margin: auto;
    padding: 25px;
    border-width: 0px;
    border-radius: 25px;
    width: 50%;
    height: 225px;
    font-size: 20px;
}

.form-label {
    margin-top: 5px;
}

.form-input {
    padding: 12px;
    border-radius: 15px;
}

.submit-btn {
    padding: 8px;
    margin-top: 15px;
    font-size: 15px;
    width: 80%;
    border-radius: 15px;
    background-color: crimson;
    color: white;
    border-width: 0px;
}

.submit-btn:hover {
    background-color: firebrick;
    color: white;
    cursor:pointer;
    border-width: 0px;
}
.register-text{
    font-size: 15px;
}
#regbtn {
    font-size: 24px;
    text-align: center;
    border-width: 0px;
}
.imgbox{
    width: 50%;
    text-align: center;
    padding: 20px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px ;
    background-image: linear-gradient(to right,#ed3b37, #cb1915);
    opacity: .7;
}
.Chessname{
    font-family: "Roboto";
    margin-top: 50px;
    font-size: 50px;
    font-weight: bold;
    color:white ;
}
.infinity{
    font-family: "Roboto";
    font-size: 80px;
    font-weight: 900;
    color:white ;
}
.king-img{
    width: 80px;
    height: 160px;
    opacity: .3;
}