.tile {
    display: grid;
    place-content: center;
    height: 70px;
    width: 70px;
}

.black-tile {
    background-color: #b58863;
    /* background-color: #f0e2da; */
}

.white-tile {
    background-color: #f0d9b5;
    /* background-color:#e69c6a; */
}

.black-tile .chess-piece {
    height: 70px;
    width: 70px;
    background-repeat: no-repeat;
    background-position: center;
}

.white-tile .chess-piece {
    height: 70px;
    width: 70px;
    background-repeat: no-repeat;
    background-position: center;
}

.chess-piece:hover{
    cursor: grab;
}

.chess-piece:active{
    cursor: grabbing;
}