.chessboard_wrapper {
    display: flex;
    overflow: auto;
}

.chessboard {
    border: solid rgb(92, 34, 34);
    /* border-radius: 15px; */
    display: grid;
    grid-template-columns: repeat(8, 70px);
    grid-template-rows: repeat(8, 70px);
    height: 100%;
    width: 100%;
}