#root {
    height: 100vh;
}

.container {
    display: grid;
    place-content: center;
    height: 100vh;
}

body {
    background-image: url(./images/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}